$sevenCellWidth = 14.285%
$cellHeight = 5em
$borderOuter = 1px solid silver
$borderThin = 1px dotted silver
$dayTimeLabelWidth = 4em

.calendar-time-width
  width $dayTimeLabelWidth
.calendar-time-margin
  margin-left $dayTimeLabelWidth
