@import '~variables'

$sevenCellWidth = 14.285%
$cellHeight = 8em
$borderColor = $grey-5
$borderOuter = 1px solid $borderColor
$borderThin = 1px dotted $borderColor
$dayTimeLabelWidth = 4em
$currentDayBackgroundColor = $grey-3
$weekendDayBackgroundColor = lighten($currentDayBackgroundColor, 50%)
$whiteHighlightBackgroundColor = $grey-3
