$sevenCellWidth = 14.285%
$cellHeight = 8em
$borderColor = $grey-5
$borderThinColor = $grey-3
$borderOuter = 1px solid $borderColor
$borderThin = 1px solid $borderThinColor
$borderThinner = 1px dotted $borderThinColor
$dayTimeLabelWidth = 4em
$currentDayBackgroundColor = $grey-3
$weekendDayBackgroundColor = $grey-2
$whiteHighlightBackgroundColor = $grey-3
